.menu-link {
  text-decoration: none;
  color: #949ea0;
}

.login-button {
  text-decoration: none;
  color: #df9186 !important;
}

.sign-in-button {
  text-decoration: none;
  background-color: #ebb2a9;
  color: #ffffff  !important;
  border-radius: 25px;
}
