<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/flowrSpot_logo.png" width="201" height="30" class="d-inline-block align-top" alt="">
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link menu-link" routerLink="/flowers">Flowers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link menu-link" routerLink="/latest-sightings">Latest Sightings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link menu-link" routerLink="/favorites">Favorites</a>
    </li>
    <li class="nav-item" *ngIf="!currentUser">
      <a class="nav-link login-button" (click)="openLoginModal()">Login</a>
    </li>
    <li class="nav-item" *ngIf="!currentUser">
      <a class="nav-link sign-in-button" (click)="openRegisterModal()">New Account</a>
    </li>
    <li class="nav-item" *ngIf="currentUser">
      <a class="nav-link menu-link" (click)="openProfileModal()">{{currentUser.user.first_name}} {{currentUser.user.last_name}} <span><i class="fas fa-1x fa-user-circle"></i></span></a>
    </li>
  </ul>
</nav>
