<div class="container-fluid d-flex justify-content-center discover">
<div class="row align-items-center">
  <div class="column">
    <div class="row">
      <div class="col">
        <div class="row">
          <h1>Discover flowers around you</h1>
        </div>
        <div class="row">
          <h4>Explore between more than 8.427 sightings</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Looking for something specific?" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-append">
          <span class="input-group-text">$</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
