<div class="modal-header">
  <h4 class="modal-title pull-left">Create an Account</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <alert *ngIf="registerSuccess" type="success">
      <strong>Congratulations!</strong> You have successfully signed up for FlowrSpot!
    </alert>
  <alert *ngIf="registrationError" type="danger">
    <strong>Registration failed:</strong> {{registrationError}}
  </alert>
    <form [formGroup]="registerForm" *ngIf="!registerSuccess">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" formControlName="first_name" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" formControlName="last_name" placeholder="Last name">
        </div>
      </div>
      <br>
      <div class="form-group">
        <input type="text"
               placeholder="Date of Birth"
               formControlName="date_of_birth"
               class="form-control"
               bsDatepicker
               [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default'}">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block custom" (click)="registerUser()">Create Account</button>
    </form>
  <div class="row" *ngIf="registerSuccess">
    <button type="button" class="btn btn-primary custom" (click)="modalRef.hide(); openLoginModal()">
      OK
    </button>
  </div>
</div>
