<div class="container">
  <div class="row">
    <div class="flower-boxes discover" *ngFor="let flower of flowers" [ngStyle]="{'background-image':'url(' + flower.profile_picture + ')'}">
      <div class="flex-row-reverse">
        <div class="col favorite-container">
          <i class="fas fa-star" *ngIf="loggedIn" [ngClass]="{'favorite': flower.favorite===true, 'non-favorite': flower.favorite===false}" (click)="favoriteFlower(flower.id)"></i>
        </div>
      </div>
      <div class="row align-items-end justify-content-center content-container">
        <div class="row w-100">
          <div class="col">
            <div class="row justify-content-center">
              {{flower.name}}
            </div>
            <div class="row justify-content-center latin-name">
              {{flower.latin_name}}
            </div>
            <div class="row sightings justify-content-center">
              {{flower.sightings}} sightings
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
