.flower-boxes {
  width: 250px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border-radius: 1px;
  border: #949ea0 1px solid;
}

.favorite {
  background-color: #eaaca3;
  color: #ffffff;
  border-radius: 50%;
  padding: 7px;
  float: right;
  cursor: pointer;
}

.non-favorite {
  background-color: #ffffff;
  color: #d4d8d9;
  border-radius: 50%;
  padding: 7px;
  float: right;
  cursor: pointer;
}
.favorite-container {
  padding: 5px;
  height: 40px;
}
.content-container {
  bottom: 0;
  height: 85%;
  width: 100%;
  margin: 0;
  color: white;
}
.sightings {
  border-radius: 20px;
  background-color: black;
  opacity: .7;
  padding: 3px;
  margin: 0 auto;
  max-width: 80%;
  width: 60%;
}
.latin-name {
  font-style: italic;
  font-size: 12px;
  opacity: .7;
}
